# Import needed libreries

In [22]:
import sys
import os
import pandas as pd
import numpy as np
import random

random.seed(123)

# Import python modules

In [2]:
# Get the absolute path of the 'src/data/' folder
src_data_notebooks = os.path.abspath(os.path.join(os.getcwd(), "../src/data/"))

# Add the 'src_data_notebooks' folder to the module search path
sys.path.append(src_data_notebooks)

# Import notebooks
import download_datasets
import dataset_controls
import random_data_generator

# Download files from cloud

In [3]:
# File IDs dictionary
file_ids = {
    "dim_people": "1Hi3wPL3FlYQXpbdqTtNK8VTWePbIiCCR",
    "fact_games_played": "1Z-FhR0RRPHJYaolFPOAbmwiRNTWz-QSN", 
}

# Get the path two levels up from the current working directory
base_path = os.path.dirname(os.path.dirname(os.path.dirname(os.getcwd())))

# Loop through all files in the dictionary and download them
for file_name, file_id in file_ids.items():
    print(f"Downloading {file_name}...")
    
    # Construct the full URL to download the file using the file ID
    url = f"https://drive.google.com/uc?id={file_id}"
    
    # Call the function to download the file with the constructed URL
    download_datasets.download_file_from_cloud(url, base_path)

    print(f"{file_name} saved successfully!\n")

Downloading dim_people...
Downloading file...

Downloading...
From: https://drive.google.com/uc?id=1Hi3wPL3FlYQXpbdqTtNK8VTWePbIiCCR
To: c:\Users\Oscar\OneDrive\Documentos\Github\SeniorTrAIning\main_data\notebooks\dim_people.csv
100%|██████████| 191k/191k [00:00<00:00, 8.03MB/s]

File saved at: c:\Users\Oscar\OneDrive\Documentos\Github\dim_people.csv
File successfully loaded. First rows:
dim_people saved successfully!

Downloading fact_games_played...
Downloading file...

Downloading...
From: https://drive.google.com/uc?id=1Z-FhR0RRPHJYaolFPOAbmwiRNTWz-QSN
To: c:\Users\Oscar\OneDrive\Documentos\Github\SeniorTrAIning\main_data\notebooks\fact_games_played.csv
100%|██████████| 54.0/54.0 [00:00<00:00, 53.3kB/s]

File saved at: c:\Users\Oscar\OneDrive\Documentos\Github\fact_games_played.csv
File successfully loaded. First rows:
fact_games_played saved successfully!

# Load the dataframes

In [4]:
dict_dfs = download_datasets.opening_dataframes(file_ids, base_path)

Loading dim_people.csv...
Loading fact_games_played.csv...

# Generate random data

In [5]:
random_data_generator.change_id_to_autoincrement(dict_dfs['dim_people'])

,ID,first_name,last_name,gender,date_birth,age,salary,city_of_birth,country,email,...,nationality,marital_status,education_level,occupation,languages_spoken,height,weight,health_conditions,medications,hobbies
0,1,Océane,Mathy,Male,9/27/1955,77,Real,Goianira,Brazil,tmathy0@mapquest.com,...,British,Married,University,Chief Design Engineer,Italian,149,117,Diabetes,Aspirin,Yoga
1,2,Gérald,Dewitt,Female,2/26/1959,88,Rupiah,Bogorejo,Indonesia,mdewitt1@nymag.com,...,British,Single,Primary School,Sales Associate,French,157,51,Diabetes,Insulin,Yoga
2,3,Mélinda,Blacker,Male,6/22/1956,82,Euro,Kónitsa,Greece,dblacker2@wiley.com,...,Spanish,Married,University,VP Sales,Italian,150,112,Diabetes,Ibuprofen,Yoga
3,4,Zoé,Vales,Female,11/6/1951,100,Real,Januária,Brazil,dvales3@cafepress.com,...,British,Divorced,University,Legal Assistant,Italian,154,108,Diabetes,Insulin,Yoga
4,5,Lèi,Broster,Female,11/24/1952,65,Quetzal,Zaragoza,Guatemala,mbroster4@hatena.ne.jp,...,Spanish,Married,High School,Nuclear Power Engineer,Italian,144,67,Diabetes,Ibuprofen,Yoga
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,996,Cunégonde,Worters,Female,12/7/1957,99,Krona,Johanneshov,Sweden,iwortersrn@yale.edu,...,British,Married,High School,Sales Associate,French,185,58,Hypertension,Insulin,Painting
996,997,Léandre,Petrasek,Male,11/23/1953,34,Marka,Solina,Bosnia and Herzegovina,wpetrasekro@t.co,...,French,Married,High School,Mechanical Systems Engineer,Italian,144,93,Diabetes,Insulin,Reading
997,998,Marlène,Athelstan,Male,3/27/1952,43,Ruble,Kalinovskaya,Russia,sathelstanrp@mayoclinic.com,...,British,Married,University,GIS Technical Architect,Italian,159,95,Arthritis,Ibuprofen,Gardening
998,999,Frédérique,Philimore,Female,6/7/1952,30,Yuan Renminbi,Jiyang,China,bphilimorerq@archive.org,...,British,Single,Primary School,Marketing Manager,Italian,152,76,Arthritis,Aspirin,Yoga
999,1000,Josée,Pischoff,Male,6/1/1957,100,Yuan Renminbi,Jinquan,China,bpischoffrr@myspace.com,...,Spanish,Single,University,Accounting Assistant IV,Italian,145,92,Hypertension,Insulin,Reading

In [6]:
dataset_controls.calculate_age(dict_dfs['dim_people'], 'date_birth')

,ID,first_name,last_name,gender,date_birth,age,salary,city_of_birth,country,email,...,nationality,marital_status,education_level,occupation,languages_spoken,height,weight,health_conditions,medications,hobbies
0,1,Océane,Mathy,Male,1955-09-27,69,Real,Goianira,Brazil,tmathy0@mapquest.com,...,British,Married,University,Chief Design Engineer,Italian,149,117,Diabetes,Aspirin,Yoga
1,2,Gérald,Dewitt,Female,1959-02-26,65,Rupiah,Bogorejo,Indonesia,mdewitt1@nymag.com,...,British,Single,Primary School,Sales Associate,French,157,51,Diabetes,Insulin,Yoga
2,3,Mélinda,Blacker,Male,1956-06-22,68,Euro,Kónitsa,Greece,dblacker2@wiley.com,...,Spanish,Married,University,VP Sales,Italian,150,112,Diabetes,Ibuprofen,Yoga
3,4,Zoé,Vales,Female,1951-11-06,73,Real,Januária,Brazil,dvales3@cafepress.com,...,British,Divorced,University,Legal Assistant,Italian,154,108,Diabetes,Insulin,Yoga
4,5,Lèi,Broster,Female,1952-11-24,72,Quetzal,Zaragoza,Guatemala,mbroster4@hatena.ne.jp,...,Spanish,Married,High School,Nuclear Power Engineer,Italian,144,67,Diabetes,Ibuprofen,Yoga
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,996,Cunégonde,Worters,Female,1957-12-07,67,Krona,Johanneshov,Sweden,iwortersrn@yale.edu,...,British,Married,High School,Sales Associate,French,185,58,Hypertension,Insulin,Painting
996,997,Léandre,Petrasek,Male,1953-11-23,71,Marka,Solina,Bosnia and Herzegovina,wpetrasekro@t.co,...,French,Married,High School,Mechanical Systems Engineer,Italian,144,93,Diabetes,Insulin,Reading
997,998,Marlène,Athelstan,Male,1952-03-27,72,Ruble,Kalinovskaya,Russia,sathelstanrp@mayoclinic.com,...,British,Married,University,GIS Technical Architect,Italian,159,95,Arthritis,Ibuprofen,Gardening
998,999,Frédérique,Philimore,Female,1952-06-07,72,Yuan Renminbi,Jiyang,China,bphilimorerq@archive.org,...,British,Single,Primary School,Marketing Manager,Italian,152,76,Arthritis,Aspirin,Yoga
999,1000,Josée,Pischoff,Male,1957-06-01,67,Yuan Renminbi,Jinquan,China,bpischoffrr@myspace.com,...,Spanish,Single,University,Accounting Assistant IV,Italian,145,92,Hypertension,Insulin,Reading

In [7]:
dict_dfs['dim_people']['country'] = 'Spain'

In [8]:
# Aplicar la función a un DataFrame
dict_dfs['dim_people']['languages_spoken'] = dict_dfs['dim_people'].apply(lambda row: random_data_generator.estimate_languages_spoken(row['age'], row['education_level']), axis=1)

In [9]:
dict_dfs['dim_people']

,ID,first_name,last_name,gender,date_birth,age,salary,city_of_birth,country,email,...,nationality,marital_status,education_level,occupation,languages_spoken,height,weight,health_conditions,medications,hobbies
0,1,Océane,Mathy,Male,1955-09-27,69,Real,Goianira,Spain,tmathy0@mapquest.com,...,British,Married,University,Chief Design Engineer,2,149,117,Diabetes,Aspirin,Yoga
1,2,Gérald,Dewitt,Female,1959-02-26,65,Rupiah,Bogorejo,Spain,mdewitt1@nymag.com,...,British,Single,Primary School,Sales Associate,1,157,51,Diabetes,Insulin,Yoga
2,3,Mélinda,Blacker,Male,1956-06-22,68,Euro,Kónitsa,Spain,dblacker2@wiley.com,...,Spanish,Married,University,VP Sales,1,150,112,Diabetes,Ibuprofen,Yoga
3,4,Zoé,Vales,Female,1951-11-06,73,Real,Januária,Spain,dvales3@cafepress.com,...,British,Divorced,University,Legal Assistant,1,154,108,Diabetes,Insulin,Yoga
4,5,Lèi,Broster,Female,1952-11-24,72,Quetzal,Zaragoza,Spain,mbroster4@hatena.ne.jp,...,Spanish,Married,High School,Nuclear Power Engineer,1,144,67,Diabetes,Ibuprofen,Yoga
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,996,Cunégonde,Worters,Female,1957-12-07,67,Krona,Johanneshov,Spain,iwortersrn@yale.edu,...,British,Married,High School,Sales Associate,2,185,58,Hypertension,Insulin,Painting
996,997,Léandre,Petrasek,Male,1953-11-23,71,Marka,Solina,Spain,wpetrasekro@t.co,...,French,Married,High School,Mechanical Systems Engineer,1,144,93,Diabetes,Insulin,Reading
997,998,Marlène,Athelstan,Male,1952-03-27,72,Ruble,Kalinovskaya,Spain,sathelstanrp@mayoclinic.com,...,British,Married,University,GIS Technical Architect,2,159,95,Arthritis,Ibuprofen,Gardening
998,999,Frédérique,Philimore,Female,1952-06-07,72,Yuan Renminbi,Jiyang,Spain,bphilimorerq@archive.org,...,British,Single,Primary School,Marketing Manager,1,152,76,Arthritis,Aspirin,Yoga
999,1000,Josée,Pischoff,Male,1957-06-01,67,Yuan Renminbi,Jinquan,Spain,bpischoffrr@myspace.com,...,Spanish,Single,University,Accounting Assistant IV,1,145,92,Hypertension,Insulin,Reading

In [35]:
final_model_dataframe = dict_dfs['dim_people'][['email', 'age', 'education_level', 'languages_spoken', 'gender']]

In [36]:
fact_games_played = pd.DataFrame({'success': np.random.uniform(0, 1, size=10000)})

In [37]:
values = np.floor(fact_games_played['success'] * 100)/ 100

In [38]:
fact_games_played['success_proportion'] = values

In [39]:
fact_games_played['average_time'] = np.random.uniform(0, 3, size=10000)

In [40]:
fact_games_played

       success  success_proportion  average_time
0     0.801781                0.80      1.964669
1     0.309734                0.30      2.473954
2     0.635863                0.63      2.394210
3     0.681723                0.68      2.712452
4     0.459733                0.45      0.783992
...        ...                 ...           ...
9995  0.111612                0.11      1.353673
9996  0.131645                0.13      2.494062
9997  0.911815                0.91      0.654057
9998  0.511360                0.51      1.937659
9999  0.960775                0.96      1.151254

[10000 rows x 3 columns]

In [64]:
# Add user information to fact games

# Add email as key id
random.seed(123)
emails_list = random.choices(dict_dfs['dim_people']["email"], k=10000)
fact_games_played["email"] = [str(emails_list[i]) for i in range(0, len(emails_list))]
fact_games_played

,success,success_proportion,average_time,email
0,0.801781,0.80,1.964669,llewcock1g@opera.com
1,0.309734,0.30,2.473954,khenric2f@mozilla.org
2,0.635863,0.63,2.394210,aruggsbb@scientificamerican.com
3,0.681723,0.68,2.712452,bmcgowan2z@mozilla.org
4,0.459733,0.45,0.783992,lgraalmansp1@about.me
...,...,...,...,...
9995,0.111612,0.11,1.353673,jyuj4@independent.co.uk
9996,0.131645,0.13,2.494062,dhoferl5@mtv.com
9997,0.911815,0.91,0.654057,lgherardellilj@bizjournals.com
9998,0.511360,0.51,1.937659,rdimmick3v@cyberchimps.com
9999,0.960775,0.96,1.151254,hmurrishpd@arizona.edu

In [66]:
final_model_dataframe_facts = final_model_dataframe.join(fact_games_played, on=["email"], how="right")
final_model_dataframe_facts

ValueError: You are trying to merge on object and int64 columns for key 'email'. If you wish to proceed you should use pd.concat

In [ ]:
# Make average reaction time and accuracy in game a function of age and education 
final_model_dataframe_facts["average_time"] = final_model_dataframe_facts.apply(lambda row: random_data_generator.generate_reaction_time(row['age'], row['education_level']), axis=1)
final_model_dataframe_facts["accuracy"] = final_model_dataframe_facts.apply(lambda row: random_data_generator.generate_accuracy(row['age'], row['education_level']), axis=1)

C:\Users\Oscar\AppData\Local\Temp\ipykernel_7116\3557106910.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  a["time"] = final_model_dataframe.apply(lambda row: generate_reaction_time(row['age'], row['education_level']), axis=1)

In [ ]:
# Generate cognitive level value
time_reference = 15.73
acc_reference = 0.1
final_model_dataframe_facts["cog_level"] = final_model_dataframe_facts.apply(lambda row: random_data_generator.generate_cog_state(row["time"], row["acc"], time_reference, acc_reference ), axis=1)

C:\Users\Oscar\AppData\Local\Temp\ipykernel_7116\1485177387.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  a["cog_level"] = a.apply(lambda row: generate_cog_state(row["time"], row["acc"], 15.73, 0.1 ), axis=1)